html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #F5F5F5;
}

#container {
    text-align: center;
}

#content {
    width: 800px;
    text-align: left;
}