html,
body,
button,
input,
select,
textarea {
    color: #737373;
    background: #fcfcfc;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}